
<!DOCTYPE html>
<html lang="en">
<head>
  
    <title>Schedule-Manager</title>
</head>
<body>
   <% if(kindOfDay === "Sunday" || kindOfDay === "Saturday") { %>

         <h1 style = "color: red;"> <%= kindOfDay %> !! that means Weekend. Yeppie</h1>

    
    <%  } else { %>

        <h1 style="color: purple;"> <%= kindOfDay %> it's a weekDay. Go work </h1>
   
        <% } %>


</body>
</html>


<!-- adding a comment for testing the git branch -->